{% extends 'main.html' %}

{% load bbcode_tags %}

{% block title %}Удаление статьи :: {{ blog.title }}{% endblock %}

{% block main %}

{% with object=blog %}

<h1>Удаление статьи</h1>
<p class="text-left">
    {# Имя пользователя #}
     {% if object.user.get_full_name %}
        <h3>Автор: {{ object.user.get_full_name }}</h3>
    {% else %}
        <h3>Автор: {{ object.user.get_username }}</h3>
    {% endif %}
</p>


    {# содержание статьи #}
<p>{{ object.content|bbcode|safe }}</p>

{# дата публикации #}
<h4 class="text-right">{{ object.posted|date:'j.m.Y.H:i:s' }}</h4>

    {# форма удаления #}
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" value="Удалить" class="btn btn-primary btn-sm">
    </form>

{# ссылка для возврата #}
<button type="button" class="btn btn-default">
    <a href="{% url 'blog_index' %}?page={{ pn }}{% if search %}
            &search={{ search }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}">
        Назад</a></button>

{% endwith %}

{% endblock %}
