{% extends 'main.html' %}

{% load bbcode_tags %}

{% block title %}{{ object.title }}{% endblock %}

{% block main %}

{# Заголовок статьи #}
<h2>{{ object.title }}</h2>

{# Содержание поста #}
<p>{{ object.content|bbcode|safe }}</p>

{# Имя пользователя #}
<p class="text-left">
     {% if object.user.get_full_name %}
        <h4>Автор: {{ object.user.get_full_name }}</h4>
    {% else %}
        <h4>Автор: {{ object.user.get_username }}</h4>
    {% endif %}
</p>

{# Дата публикации и список тегов #}
<p class="posted">{{ object.posted|date:'j.m.Y.H:i:s' }}</p>
    {% with names=object.tags.names %}
        {% if names.count > 0 %}
            <p class="tags">{% for name in names %}
                {% if not forloop.first %},{% endif %}
                <a href="{% url 'blog_index' %}?tag={{ name|urlencode }}">{{ name }}</a>
                {% endfor %}
            </p>
        {% endif %}
    {% endwith %}

{# ссылка для возврата #}
<button type="button" class="btn btn-default">
    <a href="{% url 'blog_index' %}?page={{ pn }}{% if search %}
            &search={{ search }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}">
        Назад</a></button>

<p>&nbsp;</p>
{% endblock %}
