{% extends 'main.html' %}

{% load bbcode_tags %}
{% load thumbnail %}

{% block title %}{{ object.title }}{% endblock %}

{% block main %}

<div class="blog_header">
    <h2 class="title">{{ object.title }}</h2>
    <h4 class="date">{{ object.posted|date:'j.m.Y.H:i' }}</h4>
    {% if object.user.get_full_name %}
        <h4 class="autor">Автор: {{ object.user.get_full_name }}</h4>
    {% else %}
        <h4 class="autor">Автор: {{ object.user.get_username }}</h4>
    {% endif %}
</div>

<div class="blog_content">
    <img src="{% thumbnail object.pic 500x300 %}" class="img-thumbnail" >
    <p class="content">
        {{ object.content|bbcode|safe }}
    </p>
</div>

<div class="taglist">
    {% with tags=object.tags.names %}
        {% if tags.count > 0 %}
            <p class="tags">
                Тэги:
                {% for tag in tags %}
                    {% if not forloop.first %},{% endif %}
                    <a href="{% url 'blog_index' %}?tag={{ name|urlencode }}">{{ tag }}</a>
                {% endfor %}
            </p>
        {% endif %}
    {% endwith %}
</div>

<button type="button" class="btn btn-default">
    <a href="{% url 'blog_index' %}?page={{ pn }}{% if search %}
            &search={{ search }}{% endif %}{% if tag %}&tag={{ tag }}{% endif %}">
        Назад</a></button>

<p>&nbsp</p>
{% endblock %}
