{% load thumbnail %}
{# Список последних новостей #}
<div class="news_list">
        {% for object in latest %}
        <div class="new">
            <div class="news_header">
                <h4 class="title"><a href="{% url 'news_detail' pk=object.pk %}?page={{ page_obj.number }}
                                            {% if search %}&search={{ search }}{% endif %}">
                    {{ object.title }}
                </a></h4>
                <p class="date">{{ object.posted|date:'j.m.Y.H:i' }}</p>
            </div>
            <div class="news_body">
                <img src="{% thumbnail object.pic 500x300 %}" class="img-thumbnail">
                <p class="description">{{ object.description }}</p>

    {# Если у текущего пользователя есть права добавления новостей #}
    {# выводится ссылки на страницы изменения и удаления новости #}
            <p class="buttons bottom-indent manage">
                {% if perms.news.change_new %}
                    <a href="{% url 'news_edit' pk=object.pk %}?page={{ page_obj.number }}">
                        Изменить
                    </a>
                {% endif %}
                {% if perms.news.delete_new %}
                    <a href="{% url 'news_delete' pk=object.pk %}?page={{ page_obj.number }}">
                        Удалить
                    </a>
                {% endif %}
            </p>
            </div>
        </div>
    <hr>
    {% endfor %}
    </div>