{%extends 'main.html' %}

{%load bbcode_tags%}
{% load thumbnail %}

{%block title%}{{object.name}}::{{object.category.name}}{%endblock%}

{%block main%}

<h2 class="title">{{object.name}}</h2>

<h4 class="category">Категория: {{object.category.name}}</h4>

{# вывод основной и дополнительных изображений товара #}
<div class="good_head">
    <div class="good_images">
        <div><img src="{% thumbnail object.image 1000x300 %}" class="img_thumbnail"></div>
    </div>
    <div class="good_att">
        {% if object.price_acc %}
            <span class="old_price">
                {{ object.price_acc }}
            </span>
        {% else %}
            <span class="price">
                {{ object.price }}
            </span>
        {% endif %}
        <span class="in_stock">
            {%if object.in_stock%}
                <p class="in_stock">Есть в наличии!</p>
            {%endif%}
        </span>
    </div>
</div>

<hr>

<div class="content">
    {{object.content|bbcode|safe}}
</div>

<hr>

<p><a href="{% url 'good_index' pk=object.category.pk %}?page={{pn}}&sort={{sort}}&order={{order}}">
    Назад</a></p>

{% endblock %}