{% extends 'main.html' %}

{% load thumbnail %}
{% block title %}{{ category.name }}{% endblock %}

{% block main %}

{# подгрузка шаблона сообщений #}
{% include 'generic/messages.html' %}

<div class="row">
<h2>{{ category.name }}</h2>

{# если у пользователя есть права для добавления товара #}
{# выводится ссылка на страницу добавления товара #}
{% if perms.goods.add_good %}
<p><a href="{% url 'good_create' pk=category.pk %}?page={{page_obj.number}}&sort={{sort}}&order={{order}}">
    Добавить товар
</a></p>
{% endif %}

{# Форма для сортировки товаров #}
    Сортировать по:
<div class="search-form form-inline">
    <form action="" name="sorder">
        <select name="order">

            <option name="1price" value="1price" {% if order == '1price' %} selected {% endif %}>
            Цене, по возрастанию</option>
            <option name="0price" value="0price" {% if order == '0price' %} selected {% endif %}>
            Цене, по убыванию</option>
            <option name="0price" value="name" {% if order == 'name' %} selected {% endif %}>
            Названию</option>
        </select>

        <label>
            <input type="checkbox" value="true" name="instock" {% if instock == 'true' %} checked {% endif %}>
            В наличии
        </label>

        <input type="submit" value="Сортировать">
    </form>
    <form action="" class="search_good">
        <input  type="text" name="search" placeholder="Что ищем?">
        <input type="submit" value="Искать">
    </form>
</div>

{# таблица товаров #}
<table class="table">
    <tr>
        <th>Миниатюра</th>
        <th>Название </th>
        <th>Описание </th>
        <th>Цена     </th>
        <th>В наличии</th>

        {# поля для ссылок на служебные страницы для пользователей с соответствующими правами #}
        {%if perms.goods.change_good%}
            <th>&nbsp;</th>
        {%endif%}
        {%if perms.goods.delete_good%}
            <th>&nbsp;</th>
        {%endif%}
    </tr>

    {# итерация по списку товаров #}
    {%for object in object_list %}
    <tr>
            {# изображение товара с ссылкой на деталку #}
        <td class="centered"><a href="{%url 'good_detail' pk=object.pk%}?page={{page_obj.number}}
                                        &sort={{sort}}&order={{order}}">
            <img src="{%thumbnail object.image 'base' %}" class="img-thumbnail"></a></td>

            {#  Название с ссылкой на деталку #}
        <td><a href="{%url 'good_detail' pk=object.pk%}?page={{page_obj.number}}
                                        &sort={{sort}}&order={{order}}">{{object.name}}</a></td>

            {# описание товара #}
        <td>{{object.description}}</td>

            {# если указана цена со скидкой, выводятся оба числа, а старая цена выводится перечеркнутой #}
        <td class="centered">{% if object.price_acc %}
            <span class="old-price">{{object.price}}</span><br>
            <span class="price">{{object.price_acc}}</span>
            {%else%}
            <span class="price">{{object.price}}</span>
            {%endif%}
        </td>

            {# если товар в наличии выводится + #}
        <td class="centered">{%if object.in_stock%}В наличии{%endif%}</td>

            {# ссылка на служебную страницу изменения товара #}
        {%if perms.page.change_good%}
        <td class="centered"><a href="{%url 'good_edit' pk=object.pk%}?page={{page_obj.number}}
                                    &sort={{sort}}&order={{order}}">Изменить</a>
        {%endif%}

            {# ссылка на служебную страницу удаления товара #}
            {%if perms.page.delete_good%}
        <td class="centered"><a href="{%url 'good_delete' pk=object.pk%}?page={{page_obj.number}}
                                    &sort={{sort}}&order={{order}}">Удалить</a></td>
        {%endif%}
    </tr>
    {%endfor%}

</table>
</div>

{# подключение шаблона пагинации #}
{%include 'generic/pagination.html'%}

{%endblock%}