{% extends 'main.html' %}

{% block title %}Правка товара :: {{ good.name }}{% endblock %}

{% block main %}

    <h2>Правка товара</h2>

<div class="form">
    <form action="" method="post" enctype="multipart/form-data">

        {# подключение шаблона формы и набора форм #}
        {% include 'generic/form.html' %}
        {% include 'generic/formset.html' %}
        <div class="submit-button">
            <input type="submit" value="Изменить">
        </div>
    </form>
</div>

{# ссылка для возврата к списку товаров #}
<p><a href="{% url 'good_index' pk=good.category.pk %}?page={{pn}}&sort={{sort}}&order={{order}}">Назад</a></p>
{% endblock %}