{# Подключаемый шаблон для пагинации #}
{# Ссылки для перехода на страницы формируются с учетом возможных GET параметров #}
<span class="pagination text-center">
{% if paginator.num_pages > 1 %}
        {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="red_link">
                    &laquo;
                </a>
        {% endif %}
        {% for pn in page_obj.paginator.page_range %}
            {% if pn == page_obj.number %}
               <a href="?page={{ pn }}" class="red_link"><u>{{pn}}</u></a >
            {% else %}
            <a href="?page={{ pn }}" class="red_link">{{pn}}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="red_link">
                    &raquo;
                </a>
        {% endif %}
{% endif %}
</span>