.content {
    width: 70%;
    padding: 10px;
    margin: auto;
    margin-top: 30px;
    font-family: Georgia, serif;
    font-weight: 500;
    
}

h1.lw{
    font-size: 42px;
}
h2.lw{
    font-size: 36px;
}
h3.lw{
    font-size: 30px;
}
h4.lw{
    font-size: 24px;
}
h5.lw{
    font-size: 18px;
}
h6.lw{
    font-size: 12px;
}

.lw, p {
    text-indent:20px;
}
.lw {
    font-family: 'Dancing script', cursive;
}


html body {
    background: url('img/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
 .main{
    background: linear-gradient(to top, #765137, #FFDAB9);
    border: 3px double black;
    margin-top: 10px;
}
.site_header {
    background: linear-gradient(to bottom, #765137, #FFDAB9);
    border: 3px double black;
}

#navbar {
    background: linear-gradient(to top, #765137, #FFDAB9);
}



.Lucius_word {
    display: inline;
    float: left;
    }

.Lucius_img {
    display: inline;
    float: right;
    padding-left: 0px;
    }

.item {
    display: inline;
    height: 160px;
    padding-bottom: 0px;
    border: 3px  double black;
 }
.cat_list {
    border: 3px double black;
    background: linear-gradient(to bottom left, #765137, #FFDAB9);
    }


 .img  {
    height: 130px;

 }

.item_image {
    display: block;
    margin: auto;
    position: absolute;
    height: auto;
    top: 0; left: 0; bottom: 20px; right: 0;
}
.item_name {
    display: block;
    text-align: center;
    height: 30px;
}

.feedback_head{
    overflow: hidden;
    }
.feed_autor{
    display: inline;
    float: left;
    }
.feed_date{
    display: inline;
    float: right;
    margin-right: 5%;
    }
.feed_text{
    display: block;
    }

.feed_form{
    margin-left: 5%
}
.cart{
    width:100%
    }


#main_luc, #guest_img {
    width: 100%;
}    
#logo {
    width: 95%;
    height: 102px;
}
#nav_butt {
    width: 100%;
    text-align: center;
}
#nav_text {
    text-align: center;
    width: 100%;
    display: block;
    padding: 0px;
    margin-bottom: 0px;
}

.nav_col{
    margin-top: 40px;
    border: 3px ridge black;
    padding: 0px;
}
.cart_item {
    float: right;
    margin-right: 20%;
}

.guest_word {
    display: inline;
    float: right;
    }

.guest_img {
    display: inline;
    float: left;
    padding: 0px;
    padding-left: 20px;
    }

#sform {
    width: 100%;
}    

.navbar_link {
    text-align: center;
    margin: 5px;
    margin-right: 25px;
}


#stext{
    display: inline;
    width: 60%;
    margin-top: 2px;
}
#sinput {
    display: inline;
    width: 30%;
    margin-left: 5px;
}

.coolCitat {
    text-align: center;
    padding: 0px;
}
.nav_div{
    margin: 0px;
    padding: 0px;

}

.detail_image {
    margin: 0px;
    padding: 10px 0px 30px 10px;

}
#submbut {
    padding-right: 0px;
}
#marksay {
    width: 80%;
    float: right;
    margin-right: 20px;
    padding-bottom: 8px;
    margin-bottom: auto;
    margin-top: 15px;
    text-shadow: #ded7d7 0px 1px 0, #363434 0 -1px 0;
}
.foot {
    float: right;
}
