{% extends 'main.html' %}
{% load thumbnail %}

{% block main %}
<div class="row">
	<div class="col-md-6 detail_image">
		<img src="{% thumbnail object.image 400x400 %}">
	</div>
	<div class="col-md-6 detail_info">
		<h2 class="thing_name">{{ object.name }}</h2>
		<h3>
			<p class="thing_desc">{{ object.description }}</p>
		</h3>
		<h4>
			<p class="thing_text">{{ object.content }}</p>
		</h4>
		<form action="" method="post">
			{% csrf_token %}
			{% include 'generic/form.html' %}
			<input type="submit" value="Добавить в корзину">
		</form>
        <hr>
		<a href="{% url 'catalog' %}">Назад</a>
	</div>
</div>
{% endblock %}