{% extends "main.html" %}
{% load thumbnail %}
{% load staticfiles %}

{% block title %}
  Ваша корзина товаров
{% endblock %}

{% block main %}
{% if item_count > 0 %}
    <div class="row">
        <div class="col-md-8"><h2>In you're cart {{item_count}} item</h2></div>
        <div class="col-md-4"><h2><a href="{% url 'order' %}">Buy</a></h2></div>
    </div>
{% endif %}

{% if item_count > 2 %}
    <h2 class="lw">You have selected too many goods, it can be dangerous ...</h2>
{% elif item_count < 1 %}
<div class="row">
    <div class="col-md-4" id="grLuc">
        <img  src="{% static 'static/image/Lucius_3.png' %}" id='grus_luc_img'>
    </div>
    <div class="col-md-8">
        <h2 class="lw">Your cart is empty</h2>
        <h3 class="lw">Did not find what you need?</h3>
        <h4 class="lw">
            See in the <a href="{% url 'catalog' %}" class="red_link">catalog</a>,
            or write what you need in the <a href="{% url 'guestbook' %}" class="red_link">guestbook</a></h4>
    </div>
</div>

    {% endif %}
      {% for item in items %}
        <div class="row">
            <hr>
            {% with good=item.good %}
                <div class="col-md-3"><img src="{% thumbnail good.image 150x100 %}"></div>
                <div class="col-md-3">{{ good.name }}</div>
                <div class="col-md-4">{{good.description}}</div>
                <div class="col-md-2">
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" value="remove" name="input">
                        <input type="hidden" value="{{ item.id}}" name="item_id">
                        <input type="submit" value="Remove" id='submbut'>
                    </form>
                </div>
            {% endwith %}
            <hr>
        </div>
      {% endfor %}

<hr>
<a href="{% url 'catalog' %}">Back to catalog</a>
{% endblock %}