{% extends 'base.html' %}

{# Основной шаблон, подгрузка основных стилей, боковое меню #}

{% load staticfiles %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'static/main.css' %}" type="text/css">
{% endblock %}

{# блок навигации #}
{% block content %}
<div id="header">
    <h1>Пельменик-org</h1>
</div>

{# боковое меню #}
<div id="leftmenu">
    <ul>

        {# Сылка на главную страницу #}
        {% url 'main' as page_url %}
        <li>
            <a href="{{ page_url }}" {% if page_url == current_url %}class="current"{% endif %}>
                Главная
            </a>
        </li>

        {# Вывод ссылок на страницы товаров по категориям #}

        {% for object in categories %}
        {% url 'good_index' pk=object.pk as page_url %}
        <li {% if forloop.first %} class="indented" {% endif %}>
            <a href="{{ page_url }}" {% if page_url == current_url %}class="current"{% endif %}>
                {{ object.name }}
            </a>
        </li>
        {% endfor %}




        {# Сылка на cтраницу "о сайте" #}
        {% url 'news_index' as page_url %}
        <li>
        <a href="/flatpages/about/" {% if page_url == current_url %}class="current"{% endif %}>
        О сайте
        </a>
        </li>

        {# Сылка на страницу контактов #}
        {% url 'news_index' as page_url %}
        <li>
        <a href="/flatpages/contact/" {% if page_url == current_url %}class="current"{% endif %}>
        Контакты
        </a>
        </li>

        {# Сылка на страницу "как приобрести" #}
        {% url 'news_index' as page_url %}
        <li>
            <a href="/flatpages/howtobuy/" {% if page_url == current_url %}class="current"{% endif %}>
                Как купить
            </a>
        </li>

        {# Сылка на страницу с новостями #}
        {% url 'news_index' as page_url %}
        <li>
            <a href="{{ page_url }}" {% if page_url == current_url %}class="current"{% endif %}>
                Новости
            </a>
        </li>

        {# Сылка на гостевую книгу #}
        {% url 'guestbook' as page_url %}
        <li>
        <a href="{{ page_url }}" {% if page_url == current_url %}class="current"{% endif %}>
        Гостевая
        </a>
        </li>

        {# Ссылка на блог #}
        {% url 'blog_index' as page_url %}
        <li>
        <a href="{{ page_url }}" {% if page_url == current_url %}class="current"{% endif %}>
        Блог
        </a>
        </li>

        {# Если пользователь вошел на сайт выводятся дополнительные ссылки #}
        {% if user.is_authenticated %}

        {# ссылка на редактирование списка категорий #}
        {% url 'categories_edit' as page_url %}
        <li>
        <a href="{{ page_url }}" {% if page_url == current_url %}class="current"{% endif %}>
        Категории
        </a>
        </li>

        {# Ссылка на админинстративный сайт Django и выход #}
            <li class="indented"><a href="/admin/">Админка</a></li>
            <li class="indented"><a href="{% url 'logout' %}">Выйти</a></li>
        {% endif %}
    </ul>
</div>

{# блок с основным контентом #}
<div id="main">
    {% block main %}
    {% endblock %}
</div>

<div id="footer">
    <p>Все права принадлежат разработчикам сайта.</p>
</div>
{% endblock %}
