{% extends 'main.html' %}
{% load thumbnail %}

{% block title %}Гостевая книга{% endblock %}

{% block main %}
<div class="row guestbook_slug">

    <div class="col-md-3 left_img">
        <img  src="{% thumbnail 'Luc/Luc1.png' 205x400 %}" id='guest_img'>
    </div>
    <div class="col-md-9 right_word">
        <h2 class="lw">Leave your feedback, comments, complaints, and other crap here</h2>
        <form action="" method="post" class="feed_form">
            {% include 'generic/form.html' %}
            <div class="submit-button">
                <input type="submit" value="Add">
            </div>
        </form>
    </div>
<hr>    
</div>

{% include 'generic/messages.html' %}

<h2 class="last_feed">Latest feedback</h2>
    <div class="feedback_list">
        {% if object_list.count > 0 %}
            {%for object in latest %}
                <div class="feedback_obj">
                    <div class="feedback_head">
                        <p class="feed_autor">{{ object.user }}</p>
                        <p class="feed_date">{{ object.posted|date:'j.m.H:i:s' }}</p>
                    </div>
                    <div class="feedback_body">
                        <p class="feed_text">{{ object.content }}</p>
                    </div>
                </div>
                <hr>
            {% endfor %}
        {% endif %}
     </div>

{% include 'generic/pagination.html' %}

{% endblock %}
