{% extends 'main.html' %}
{% load staticfiles %}

{# Подгрузка скриптов для хранилища изображений #}
{% block additional_js %}
<script src="{% static 'static/js/jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'static/js/imagepool.js' %}" type="text/javascript"></script>
{% endblock %}

{% block title %}Правка новости :: {{ object.title }}{% endblock %}

{% block main %}

    <h2>Правка новости</h2>
    <form action="" method="post">
        {% include 'generic/form.html' %} {# Подключение шаблона формы #}
        <div class="submit-button">
            <input type="submit" value="Сохранить">
        </div>
    </form>

{# Подключение шаблона для хранилища изображений #}
{% include 'generic/file_lister.html' %}

    <p><a href="{% url 'news_index' %}?page={{ pn }}">Назад</a></p>

{% endblock %}