{% extends 'main.html' %}
{% load thumbnail %}
{% block title %}Главная страница{% endblock %}
{% block main %}

<div class="page-header">
    <h1>Добро пожаловать на сайт!<p class="small">Ниже представлен список последних новостей
    и список рекомендуемых товаров.</p></h1>
</div>

<h3>Новости</h3>
{# Список последних новостей #}
<div class="news_list">
        {% for object in latest %}
        <div class="new">
            <div class="news_header">
                <h4 class="title"><a href="{% url 'news_detail' pk=object.pk %}?page={{ page_obj.number }}
                                            {% if search %}&search={{ search }}{% endif %}">
                    {{ object.title }}
                </a></h4>
                <p class="date">{{ object.posted|date:'j.m.Y.H:i' }}</p>
            </div>
            <div class="news_body">
                <div class="thumb"><img src="{% thumbnail object.pic 200x300 %}" class="img-thumbnail"></div>
                <div class="desc"><p class="description">{{ object.description }}</p></div>
            </div>
        </div>
        <hr>
        {% endfor %}

{#<!--{% include 'list_item/news_list.html' %}-->}#}

{# Список рекомендуемых товаров в виде таблицы #}
<h3>Рекомендуемые товары</h3>
    <table class="table">
        {% for object in goods %}
            <tr>
                <td>
                    <a href="{% url 'good_detail' pk=object.pk %}">
                        {# Миниатюра основного изображения товара #}
                        <img src="{% thumbnail object.image 'base' %}" class="img-thumbnail">
                    </a>
                </td>
                <td>
                    <a href="{% url 'good_detail' pk=object.pk %}">
                        {{ object.name }}
                    </a>
                </td>
                <td>{{ object.description }}</td>

             {# Если у товара есть акционная цена, старая цена будет выведена сверху, перечеркнутая. #}
             {# А цена с учетом скидки будет выведена ниже ее #}
                 <td class="centered">
                    {% if object.price_acc > 0 %}
                        <span class="old-price">
                            {{object.price}}
                        </span><br>
                        {{ object.price_acc }}
                    {% else %}
                        {{ object.price }}
                    {% endif %}руб.
                </td>
                <td class="centered">{% if object.in_stock %} В наличии {% endif %} </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}